<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ELM.Model.ELMLibrarySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ELM.Model.ELMLibrarySettings>
            <setting name="SchemaLocation" serializeAs="String">
                <value>Schema\elm\library.xsd;Schema\elm\cqlannotations.xsd</value>
            </setting>
        </ELM.Model.ELMLibrarySettings>
    </applicationSettings>
</configuration>